* {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

a:visited { color: cornflowerblue; }
a:hover { color: darkslategray; }
a:active { color: darkslategray; }

body {
    margin: 0 10vw;
    background-color: whitesmoke;
}

h1 h2 h3 {
    font-weight: 700;
    margin-bottom: 10px;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 10px;
}

h2 {
    font-weight: 700;
    font-size: 1.75rem;
    margin-bottom: 10px;
}

h3 {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 10px;
}

.flex-wrapper {
    display: flex;
}

.flex-wrapper > div > p {
    width: 70%;
}

.list > li {
    margin: .75rem 0;
    width: 50%;
}

#rosti-image {
    height: 500px;
    border-radius: 15px;
}

#title {
    text-align: center;
}