body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#margin {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    height: 80vh;
    width: 80vw;
}

#border {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
    height: 60vh;
    width: 40vw;
}

#padding {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    height: 40vh;
    width: 20vw;
}

#content {
    background-color: darkgreen;
    height: 20vh;
    width: 10vw;
}